<!DOCTYPE html> 

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Contact Us Form  | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="../static/contact.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">   
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Vidya Academy</div>
          <div class="text-two">Thalakotokara, Kechery, Thrissur</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 8848374646</div>
          <div class="text-two">+91 6238995822</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">sreeram620@gmail.com</div>
          <div class="text-two">thashreef1@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have  any type of quries related to the website, you can send me message from here. It's our pleasure to help you.</p>
      <form action = "mailto:sreeram620@gmail.com" method = "post" enctype="text/plain">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <input name= "message-body"type = "message" placeholder="Tell us about the issue">
        </div>
        <div class="button">
          <a href = mailto:sreeram620@gmail.com ><input type="button" value="Send Now" ></a>
          
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>