<link rel="stylesheet" href="../static/home.css" type="text/css" />
<script src="../static/js/home.js"></script> 
{% extends "base.html"%} {%block title%}{%endblock%} {% block content %}
<div class="image">
  <div class="heading">
    
        <div class="contents">
          <div class="note-box">
            <div class="intro">
              <h2 class = headingmusic><strong>Music of India</strong> </h2>
              <p class="text">
                Indian music is a diverse and rich art form that has evolved over thousands of years. It is characterized by its intricate melodies, complex rhythms, and a wide variety of instruments, both traditional and modern.

One of the most notable features of Indian music is its use of ragas, which are melodic frameworks that define the mood, emotion, and character of a piece of music. Each raga is associated with a specific time of day or season, and is meant to evoke a particular emotion or feeling in the listener. Over the years, Indian music has influenced many other musical traditions around the world, and continues to be a vibrant and dynamic art form that is constantly evolving.. 
            </div>
            <div class="container">
              <a href="/indian">    
                <button class="btn1" type="button">
                  Classify songs
                </button></a>
            </div>
            
          </div>
          
        </div>
        
        
        <section class="parallax-container parallax-container2">
          <div class="card">
            <div class="card-img"></div>
            <h3>Carnatic</h3>
            <p id ="para">
              Carnatic music is a classical music tradition from South India that is known for its
               intricate melodies, rhythmic complexities, improvisations, and emphasis on vocal performances 
               accompanied by various traditional instruments.
            </p>
            <a id="learnmore" href="https://en.wikipedia.org/wiki/Carnatic_music">Learn more</a>
          </div>
          <div class="card">
            <div class="card-img"></div>
            <h3>Folk</h3>
            <p id ="para">
              Folk music represents the traditional music of a particular culture or 
              community, often passed down through generations, and it encompasses a wide range 
              of musical styles and themes rooted in the cultural heritage of a region.
            </p>
            <a id="learnmore" href="https://en.wikipedia.org/wiki/Folk_music">Learn more</a>
          </div>
          <div class="card">
            <div class="card-img"></div>
            <h3>Ghazal</h3>
            <p id ="para">
              
              Ghazal music is a poetic and melodious genre originating from the Middle East 
              and South Asia, characterized by its intricate rhyming patterns, heartfelt expressions
              of love and longing, and soulful renditions.
            </p>
            <a id="learnmore" href="https://en.wikipedia.org/wiki/Ghazal">Learn more</a>
          </div>
          <div class="card">
            <div class="card-img"></div>
            <h3>Semi-Classical</h3>
            <p id ="para">
              
              Semi-classical music is a blend of classical and popular musical elements,
              featuring traditional ragas and intricate melodic improvisations within a 
              framework that incorporates elements of lighter accessible musical 
              styles.
            </p>
            <a id="learnmore" href="https://en.wikipedia.org/wiki/Semi-classical_music">Learn more</a>
          </div>
          <div class="card">
            <div class="card-img"></div>
            <h3>Sufi</h3>
            <p id ="para">
              
            Sufi music is a devotional genre that encompasses spiritual poetry and mystic 
            melodies, aiming to transport listeners into a state of transcendence and connect
            them with the divine. That evoke a mystical connection with the divine.
            </p>
            <a id="learnmore" href="https://en.wikipedia.org/wiki/Sufi_music">Learn more</a>
          </div>
        </section>
        <section class="parallax-container">
          <h1 class ="headers">About The Website</h1>
          <p id ="para1">
            Welcome to our website dedicated to celebrating and exploring the fascinating world of
             indigenous music. Our mission is to provide a platform that honors the diverse musical 
             traditions of indigenous cultures across India. Through informative articles, in-depth interviews,
              and curated playlists, we aim to shed light on the beauty, significance, and cultural importance of
               indigenous music genres. We are passionate about promoting understanding, appreciation, and respect for
                these rich musical traditions, as well as supporting indigenous artists and communities.Our genre classification
                 system provides a seamless and intuitive way to navigate through a vast collection of genres, ensuring that you
                  can easily find and discover the music that resonates with you. We have meticulously categorized genres based on
                   their unique characteristics, cultural influences, and historical significance.
          </p>
          <p id ="para1">
            Whether you are a music enthusiast, a cultural explorer, or simply curious about the profound connections
             between music and indigenous cultures, our website offers a gateway to immerse yourself in this captivating
              realm. Join us on this inspiring journey as we delve into the rhythms, melodies, and stories that have shaped
               indigenous music throughout history.
          </p>

          <p id = "moto">
            Come, discover, and celebrate the power and resilience of indigenous music with us.
          </p>
        </section>
        
        
  </div>
</div>





{%endblock%}




